/*****************************************************************************
******************************************************************************

main style sheet | nickdaviesdp.com ~ web development and seo by mattemcee.com

******************************************************************************
*****************************************************************************/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreyasc400-webfont.eot') format('eot');
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'),
  	url('../fonts/alegreyasc400-webfont.woff') format('woff'), 
  	url('../fonts/alegreyasc400-webfont.svg') format('svg');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/alegreyasc700-webfont.eot') format('eot');
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'),
  	url('../fonts/alegreyasc700-webfont.woff') format('woff'), 
  	url('../fonts/alegreyasc700-webfont.svg') format('svg');
}

head + * {
	display: block;
	color: #1e232a;
	text-align: center;
	font-family: 'Alegreya SC' , serif;
}

/*****************
visibility classes
*****************/

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.clear {
	clear: both;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

/********************************
document hovers and links styling
********************************/

a.mailto:link {
	color: #9db0c7;
	text-decoration: none;
}

a.mailto:hover {
	color: hsla(212, 27%, 69%, 0.5);
	text-decoration: underline;
}

.contact_icons li img:hover {
	width: 60px;
	height: 60px;
	position: relative;
	bottom: 36px;
}

#clickHeretoPlay:hover {
	background-color: #7099c7;
	cursor: pointer;
}

/****************
content container
****************/

#container {
	background: #000;
	width: 1000px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	z-index: 1;
}

/***************
document heading
***************/
#header {
	color: #9DB0C7;
	height: 140px;
	width: 800px;
	margin: 0px;
	padding: 0px;
	cursor: default;
	z-index: 1;
}

#header h1 {
	margin: 0 auto;
	padding: 10px 0 2px 0;
	color: #5f81af;
	font: 700 70px/70px 'Alegreya SC' , serif;
	letter-spacing: 1px;
	text-shadow: 1px 1px 8px #7099c7, 2px 2px 4px #fff;
}

#header h2 {
	margin: 0 auto;
	padding: 2px 0 5px 0;
	font: 600 30px/30px 'Alegreya SC' , serif;
	letter-spacing: 4px;
	text-shadow: 1px 2px 3px #5f81af, 2px 2px 2px #7099c7;
}

/***********
main content
***********/

#content {
	width: 800px;
	margin: 20px auto 0px auto;
	padding: 0px;
}

#canvas {
	position: relative;
	background: rgba(86, 137, 221, 0.65);
	width: 702px;
	height: 404px;
	margin: 10px auto 20px auto;
	padding: 0px;
}

#placeHolderImg {
	position: absolute;
	width: 702px;
	height: 404px;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 15;	
}

#videosHere {
	position: absolute;
	margin: 10px;
	padding: 0;
	width: 682px;
	height: 384px;
}

.onDeck {
	z-index: 0;
	opacity: 0;
	visibility: hidden;
}

.onStage {
	z-index: 20;
	opacity: 1;
	visibility: visible;
}

iframe {
	position: relative;
	width: 682px;
	height: 384px;
}

#infoOverlay {
	position: absolute;
	background: rgba(0, 0, 0, .7);
	width: 702px;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 20;
}

.info {
	height: 160px;
}

.loading {
	height: 404px;
}

#infoWrap {
	position: absolute;
	width: 702px;
	top: 0;
	left: 0;
	margin: -20px 0 0 0;
	padding: 0;
}

#infoText {
	padding: 12px 0 0 14px;
	text-align: left;
	color: #9DB0C7;
	font-size: 20px;
}

#infoText .variable {
	color: #7099c7;
	font-size: 30px;
}

#loadingWrap {
	position: absolute;
	width: 702px;
	top: 202px;
	margin: 0;
	padding: 0;
}

#progressbar {
	position: relative;
	top: 0;
	left: 201px;
	margin: 0;
	padding: 0;
	width: 300px;
	height: 25px;
}

#loadingText {
	position: relative;
	top: 20px;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #9DB0C7;
	font-size: 20px;
}

#clickHeretoPlay {
	position: absolute;
	background-color: rgb(19, 22, 27);
	width: 200px;
	top: 167px;
	left: 211px;
	margin: 0;
	padding: 20px 30px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px black;
	border-radius: 30px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
	box-shadow: 7px 7px 11px #000;
		-webkit-box-shadow: 7px 7px 11px #000;
		-moz-box-shadow: 7px 7px 11px #000;
	z-index: 21;
}

.copyright {
	float: left;
	clear: both;
	font-size: 14px;
	text-align: center;
	margin: 0 0 40px 170px;
	color: #9db0c7;
}

.copyright a {
	color:#9db0c7;
	text-decoration: none;
}

.copyright a:hover {
	text-decoration: underline;
}

#copyrightPageSpace {
	height: 25px;
}

/*****************
content dividers
*****************/

#contentHeadings h2 {
	float: left;
	clear: both;
	width: 800px;
	height: 30px;
	background-color: #13161B;
	color: #9DB0C7;
	font-size: 30px;
	line-height: 30px;
	padding: 0;
	margin: 10px 0px;
	border-radius: 20px;
	-moz-box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
	-webkit-box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
	box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
}

#contentHeadings h2:hover {
	background-color: #9DB0C7;
	color: #13161B;
	cursor: context-menu;
}

.contentCategories {
	float: left;
	clear: both;
	display: none;
}

/*****************
thumbnails styling
*****************/

#thumbnails_here {
	display: inline block;
	float: left;
	width: auto;
	height: auto;
	margin: 20px 50px 10px 60px;
	clear: both;
}

ul.vimeoThumbs {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.thumb:hover {
	opacity: 1;
	cursor: pointer;
}

.thumb {
	opacity: 0.5;
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}

.thumbOverlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 220px;
	max-height: 100px;
	color: #fff;
	z-index: 1000;
}

.thumbOverlay h3 {
	font-size: 16px;
}

#externalLinks {
	display: inline block;
	float: left;
	width: auto;
	height: auto;
	margin: 20px 50px 10px 60px;
	clear: both;
}

ul.externalThumbs {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/************
static footer
************/

#contact_bar {
	background-color: #13161B;
	color: #9DB0C7;
	width: 800px;
	height: 30px;
	position: fixed;
	bottom: 0px;
	border-radius: 20px;
	z-index: 1000;
	-moz-box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
	-webkit-box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
	box-shadow: inset 0 0 10px #5f81af, 0 0 3px #fff;
}

p.contact_left {
	text-align: left;
	font-size: 16px;
	line-height: 14px;
	font-weight: bolder;
	letter-spacing: 2px;
	float: left;
	padding: 0 0 0 15px;
	margin: 8px 0;
}

p.contact_center {
	position: absolute;
	left: 50%;
	width: 100px;
	text-align: center;
	font-size: 16px;
	line-height: 14px;
	font-weight: bolder;
	letter-spacing: 2px;
	float: left;
	padding: 0;
	margin: 8px 0 8px -50px;
	z-index: 1001;
}

ul.contact_icons {
	float: right;
	margin: 5px 15px 0 0;
	padding: 0;
	list-style-type: none;
}

.contact_icons li {
	width: 60px;
	float: left;
}

.contact_icons li img {	
	width: 26px;
	height: 26px;
}

.contact_icons a {
	color: rgba(255, 255, 255, 0);
}

#imdb_link {
	padding: 0;
}

#facebook_link {
	padding: 0;
}

#vimeo_link {
	padding: 0;
}



